<a href="https://colab.research.google.com/github/manu675/analytics_cup_21/blob/main/AC_python_classifiers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# importing libaries:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

from sklearn.model_selection import cross_val_score, KFold

In [2]:
## Way 2: uploading the local data to google colab
# importing local data to google colab:
from google.colab import files
uploaded = files.upload()

Saving df.csv to df.csv

In [4]:
df = pd.read_csv('df.csv')

In [6]:
df.head()

   Physician_ID    set  ... Ownership_Payments_Count Ownership_Interest
0             1  train  ...                        0              False
1             2  train  ...                        0              False
2             3  train  ...                        0              False
3             4  train  ...                        0              False
4             5  train  ...                        0              False

[5 rows x 13 columns]

In [8]:
df.columns

Index(['Physician_ID', 'set', 'City', 'State', 'Primary_Specialty',
       'License_State_1', 'License_State_2', 'License_State_3',
       'License_State_4', 'License_State_5', 'Total_Payments',
       'Ownership_Payments_Count', 'Ownership_Interest'],
      dtype='object')

In [10]:
df.shape

(6000, 13)

In [13]:
df.value_counts(df["set"])

set
train    5000
test     1000
dtype: int64

In [14]:
# labels
y = df["Ownership_Interest"]

In [17]:
# features
X = df[["Total_Payments","Ownership_Payments_Count"]]

In [18]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=123)


print(X_train, X_test, y_train, y_test)

      Total_Payments  Ownership_Payments_Count
4936         1772.44                         0
761        385412.14                         0
4281         1079.72                         0
5579         1059.93                         0
3653         3109.37                         0
...              ...                       ...
5218         2482.61                         0
4060        56451.20                         0
1346         2515.78                         0
3454        16871.12                         0
3582         2384.75                         0

[4500 rows x 2 columns]       Total_Payments  Ownership_Payments_Count
1201         2239.42                         0
1084        13015.36                         0
2060         1008.71                         0
248          4687.75                         0
5603         1985.97                         0
...              ...                       ...
990          1505.27                         1
134          1617.50                         0
3483        22148.98                         0
2688         8563.73                         0
1069        17252.26                         0

[1500 rows x 2 columns] 4936    False
761     False
4281    False
5579    False
3653    False
        ...
5218    False
4060    False
1346    False
3454    False
3582    False
Name: Ownership_Interest, Length: 4500, dtype: bool 1201    False
1084    False
2060    False
248     False
5603    False
        ...
990      True
134     False
3483    False
2688    False
1069    False
Name: Ownership_Interest, Length: 1500, dtype: bool

In [20]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((4500, 2), (1500, 2), (4500,), (1500,))

In [30]:
# initilizing the XGBClassifier as an object: (using all the default hyperparameters)
xgbc = xgb.XGBClassifier()

In [32]:
# fitting the XGB classifier model to the training data
xgbc.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [33]:
# k-fold CV
kfold = KFold(n_splits=5, shuffle=True) # determination of the cross validation splitting strategy (cv parameter input)
kf_cv_scores = cross_val_score(xgbc, X_train, y_train, cv=kfold)
print("K-fold CV average score: %.2f" % kf_cv_scores.mean())

K-fold CV average score: 1.00

In [37]:
# making predictions using the test data
y_pred = xgbc.predict(X_test)

In [40]:
print(y_pred);

y_pred.shape

[False False False ... False False False]

(1500,)

In [41]:
# evaluation the predicted classifications using a confusion matrix

conf_matrix = confusion_matrix(y_test, y_pred)

conf_matrix

array([[1422,    0],
       [   0,   78]])

In [42]:
# computing an accuracy score for the predictions
accuracy_score(y_test, y_pred)

1.0

In [43]:
# feature scores
xgbc.get_booster().get_fscore()

{'Ownership_Payments_Count': 71, 'Total_Payments': 25}