# Business Analytics - Analytics Cup 21
Team SGS

# Setup conda environment
To ensure that the following code works, please set up a virtual conda environment in which the following packages are installed. To do this, please run the following commands on your terminal. After that you can start the jupyter notebook
### Create an environment called "py35"
`conda create -n py35 python=3.5'`
### Install numpy and other necessary packages into the "py35" environment
`conda install matplotlib pandas numpy jupyter nb_conda -n py35`
### Activate the environment
`conda activate py35`
### Start Jupyter notebook
`jupyter notebook`

# Importing libaries and set cwd
set the project_folder to the folder where the csvs are located

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

project_folder = '/Users/mgattinger/Dropbox/TUM/Master/2_Semester/BA/analytics_cup'
os.chdir(project_folder)

# Read CSVs

In [2]:
# payments
payments_df = pd.read_csv('payments.csv', delimiter=',',low_memory=False)
payments_df = payments_df.set_index('Record_ID')
payments_df = payments_df.loc[payments_df['Total_Amount_of_Payment_USDollars'] < 5000000]
#physicians
physicians_df = pd.read_csv('physicians.csv', delimiter=',',low_memory=False)
physicians_df = physicians_df.set_index('id')

In [3]:
print(payments_df.columns)
print(physicians_df.columns)

Index(['Physician_ID', 'Company_ID', 'Total_Amount_of_Payment_USDollars',
       'Date', 'Number_of_Payments', 'Form_of_Payment_or_Transfer_of_Value',
       'Nature_of_Payment_or_Transfer_of_Value', 'City_of_Travel',
       'State_of_Travel', 'Country_of_Travel', 'Ownership_Indicator',
       'Third_Party_Recipient', 'Charity', 'Third_Party_Covered',
       'Contextual_Information', 'Related_Product_Indicator', 'Product_Code_1',
       'Product_Code_2', 'Product_Code_3', 'Product_Type_1', 'Product_Type_2',
       'Product_Type_3', 'Product_Name_1', 'Product_Name_2', 'Product_Name_3',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3'],
      dtype='object')
Index(['set', 'First_Name', 'Middle_Name', 'Last_Name', 'Name_Suffix', 'City',
       'State', 'Zipcode', 'Country', 'Province', 'Primary_Specialty',
       'License_State_1', 'License_State_2', 'License_State_3',
       'License_State_4', 'License_State_5'],
      dtype='object')

# Data preperation

## remove "Allopathic & Osteopathic Physicians|"

In [4]:
# before
physicians_df['Primary_Specialty'].head()

id
1    Allopathic & Osteopathic Physicians|Obstetrics...
2    Allopathic & Osteopathic Physicians|Anesthesio...
3    Podiatric Medicine & Surgery Service Providers...
4    Allopathic & Osteopathic Physicians|Internal M...
5    Allopathic & Osteopathic Physicians|Orthopaedi...
Name: Primary_Specialty, dtype: object

In [5]:
# remove
physicians_df['Primary_Specialty'] = physicians_df['Primary_Specialty'].str.replace(r'Allopathic & Osteopathic Physicians\|', '')

In [6]:
# after
physicians_df['Primary_Specialty'].head()

id
1                   Obstetrics & Gynecology|Gynecology
2                                       Anesthesiology
3    Podiatric Medicine & Surgery Service Providers...
4             Internal Medicine|Cardiovascular Disease
5                  Orthopaedic Surgery|Sports Medicine
Name: Primary_Specialty, dtype: object

## remove "\|.*"

In [7]:
# remove
physicians_df['Primary_Specialty'] = physicians_df['Primary_Specialty'].str.replace(r'\|.*', '')
#after
physicians_df['Primary_Specialty'].head()

id
1                           Obstetrics & Gynecology
2                                    Anesthesiology
3    Podiatric Medicine & Surgery Service Providers
4                                 Internal Medicine
5                               Orthopaedic Surgery
Name: Primary_Specialty, dtype: object

## split sets

In [8]:
#valid_physicians_df = physicians_df.loc[physicians_df['set'] == 'train']
#train_physicians_df = valid_physicians_df.sample(n=4000, random_state=1)
train_physicians_df = physicians_df.loc[physicians_df['set'] == 'train']
train_physicians_df = train_physicians_df.reset_index()
train_physicians_df = train_physicians_df.rename(columns={"id": "Physician_ID"})
train_physicians_df = train_physicians_df.set_index('Physician_ID')

test_physicians_df = physicians_df.loc[physicians_df['set'] == 'test']
test_physicians_df = test_physicians_df.reset_index()
test_physicians_df = test_physicians_df.rename(columns={"id": "Physician_ID"})
test_physicians_df = test_physicians_df.set_index('Physician_ID')

#valid_physicians_df = valid_physicians_df[~valid_physicians_df.index.isin(train_physicians_df.index)]
#valid_physicians_df.sort_index(inplace=True)
#train_physicians_df.sort_index(inplace=True)
#test_physicians_df.sort_index(inplace=True)

## Mutate Ownership_Indicator

In [9]:
payments_df.Ownership_Indicator = payments_df.Ownership_Indicator.replace("No", 0)
payments_df.Ownership_Indicator = payments_df.Ownership_Indicator.replace("Yes", 1)

# Feature generation
## Get ownership interest df

In [10]:
ownership_interest_df = payments_df[["Ownership_Indicator","Physician_ID"]].groupby(by=["Physician_ID"]).max()
ownership_interest_df.head()

              Ownership_Indicator
Physician_ID
1                               0
2                               0
3                               0
4                               0
5                               0

## Get sum of payments by Physician_ID

In [11]:
total_payments_df = payments_df[["Total_Amount_of_Payment_USDollars","Physician_ID"]].groupby(by=["Physician_ID"]).sum()
total_payments_df = total_payments_df.rename(columns={"Total_Amount_of_Payment_USDollars": "total_payments"})
total_payments_df.head()

              total_payments
Physician_ID
1                     952.93
2                  120924.92
3                    3523.93
4                   26745.61
5                   25411.21

## Get number of payments by Physician_ID

In [12]:
number_payments_df = payments_df[["Total_Amount_of_Payment_USDollars","Physician_ID"]].groupby(by=["Physician_ID"]).count()
number_payments_df = number_payments_df.rename(columns={"Total_Amount_of_Payment_USDollars": "number_of_payments"})
number_payments_df.head()

              number_of_payments
Physician_ID
1                             47
2                            154
3                            132
4                            411
5                             98

## Get top nature of payment by Physician_ID

In [13]:
top_nature_df = payments_df[["Nature_of_Payment_or_Transfer_of_Value","Total_Amount_of_Payment_USDollars","Physician_ID"]].groupby(by=["Physician_ID","Nature_of_Payment_or_Transfer_of_Value"]).sum()
# nlargest(1, 'Total_Amount_of_Payment_USDollars','first')
top_nature_df.reset_index(inplace=True)
top_nature_df = top_nature_df.groupby(by=["Physician_ID"])
top_nature_df = top_nature_df.apply(lambda _df: _df.nlargest(1,'Total_Amount_of_Payment_USDollars','first'))
top_nature_df.reset_index(drop=True,inplace=True)
top_nature_df.set_index('Physician_ID',inplace=True)
top_nature_df = top_nature_df.rename(columns={"Nature_of_Payment_or_Transfer_of_Value": "top_nature","Total_Amount_of_Payment_USDollars":"total_of_top_nature"})
top_nature_df.head()

,top_nature,total_of_top_nature
Physician_ID,,
1,Food and Beverage,842.44
2,Compensation for services other than consultin...,45190.70
3,Food and Beverage,3523.93
4,Compensation for services other than consultin...,18011.81
5,Education,8792.00

## Create year and month column for grouping

In [14]:
payments_per_month_df = payments_df[["Date","Physician_ID","Total_Amount_of_Payment_USDollars"]]
payments_per_month_df_year = payments_per_month_df["Date"].str.replace(r'../../', '')
payments_per_month_df_month = payments_per_month_df["Date"].str.replace(r'/../....', '')
payments_per_month_df.insert(1, "Year", payments_per_month_df_year, False) 
payments_per_month_df.insert(2, "Month", payments_per_month_df_month, False)
payments_per_month_df = payments_per_month_df.drop(['Date'], axis=1)
payments_per_month_df = payments_per_month_df.loc[payments_per_month_df['Year'] > '2013']
payments_per_month_df.head()

           Year Month  Physician_ID  Total_Amount_of_Payment_USDollars
Record_ID
80021      2014    01          3328                             105.87
80022      2014    01          2439                              42.33
80023      2014    01          3164                              12.93
80024      2014    01           968                              19.45
80025      2014    01          1608                              10.26

## Get range of number of payments by Physician_ID

In [15]:
range_number_of_payments_df = payments_per_month_df.groupby(by=["Year","Month","Physician_ID"]).agg(['count'])
range_number_of_payments_df = range_number_of_payments_df.groupby(by=["Year","Physician_ID"]).agg(['sum'])
range_number_of_payments_df = range_number_of_payments_df.groupby(by=["Physician_ID"]).agg(['max','min'])
range_number_of_payments_df_max = range_number_of_payments_df['Total_Amount_of_Payment_USDollars']['count']['sum']['max']
range_number_of_payments_df_min = range_number_of_payments_df['Total_Amount_of_Payment_USDollars']['count']['sum']['min']
range_number_of_payments_df['range_count'] = range_number_of_payments_df_max - range_number_of_payments_df_min
range_number_of_payments_df = range_number_of_payments_df.drop(['Total_Amount_of_Payment_USDollars'],axis=1)
range_number_of_payments_df.columns = range_number_of_payments_df.columns.droplevel(level = [1,2,3])
range_number_of_payments_df.head()

              range_count
Physician_ID
1                       8
2                      45
3                      12
4                      50
5                      18

## Get range of payments by Physician_ID

In [16]:
range_of_payments_df = payments_per_month_df.groupby(by=["Year","Month","Physician_ID"]).agg(['sum'])
range_of_payments_df = range_of_payments_df.groupby(by=["Year","Physician_ID"]).agg(['sum'])
range_of_payments_df = range_of_payments_df.groupby(by=["Physician_ID"]).agg(['max','min'])
range_of_payments_df_max = range_of_payments_df['Total_Amount_of_Payment_USDollars']['sum']['sum']['max']
range_of_payments_df_min = range_of_payments_df['Total_Amount_of_Payment_USDollars']['sum']['sum']['min']
range_of_payments_df['range_total'] = range_of_payments_df_max - range_of_payments_df_min
range_of_payments_df = range_of_payments_df.drop(['Total_Amount_of_Payment_USDollars'],axis=1)
range_of_payments_df.columns = range_of_payments_df.columns.droplevel(level = [1,2,3])
range_of_payments_df.head()

              range_total
Physician_ID
1                  170.41
2                35030.52
3                  462.42
4                13247.09
5                 9079.72

## Group by Company_ID and get sum, count and mean of payments by company

In [17]:
company_df = payments_df[["Company_ID","Physician_ID","Total_Amount_of_Payment_USDollars"]]
company_df = company_df.groupby(by=['Physician_ID','Company_ID']).agg(['sum','count','mean'])
company_df.head()

                        Total_Amount_of_Payment_USDollars
                                                      sum count       mean
Physician_ID Company_ID
1            69                                     43.85     3  14.616667
             122                                    44.30     3  14.766667
             123                                    22.64     1  22.640000
             138                                    16.88     1  16.880000
             140                                    44.53     3  14.843333

## Get top paying company by physician

In [18]:
top_companys = company_df['Total_Amount_of_Payment_USDollars']['sum']
top_companys = top_companys.reset_index()
top_companys = top_companys.groupby(by=["Physician_ID"])
top_companys = top_companys.apply(lambda _df: _df.nlargest(1,'sum','first'))
top_companys = top_companys.reset_index(drop=True)
top_companys = top_companys.set_index('Physician_ID')
top_companys = top_companys.drop(['sum'],axis=1)
top_companys['Company_ID']= top_companys['Company_ID'].map(str)
top_companys = top_companys.rename(columns={"Company_ID": "top_company"})
top_companys.head()

             top_company
Physician_ID
1                    550
2                    601
3                    340
4                     18
5                    442

## Get count of company payments by physician

In [19]:
companys_pay_count_df = company_df.groupby('Physician_ID').agg(['count'])
companys_pay_count_df_count = companys_pay_count_df['Total_Amount_of_Payment_USDollars']['mean']['count']
companys_pay_count_df['pay_count'] = companys_pay_count_df_count
companys_pay_count_df = companys_pay_count_df.drop(['Total_Amount_of_Payment_USDollars'],axis=1)
companys_pay_count_df.columns = companys_pay_count_df.columns.droplevel(level = [1,2])
companys_pay_count_df.head()

              pay_count
Physician_ID
1                    18
2                    13
3                    15
4                    32
5                    13

## Get std of company payments by physician

In [20]:
companys_pay_std_df = company_df.groupby('Physician_ID').agg(['std'])
companys_pay_std_df_std = companys_pay_std_df['Total_Amount_of_Payment_USDollars']['mean']['std']
companys_pay_std_df['std'] = companys_pay_std_df_std
companys_pay_std_df = companys_pay_std_df.drop(['Total_Amount_of_Payment_USDollars'],axis=1)
companys_pay_std_df.columns = companys_pay_std_df.columns.droplevel(level = [1,2])
companys_pay_std_df.head()

                      std
Physician_ID
1                6.498346
2              478.199770
3               35.449082
4              129.869365
5             1741.832451

## Get Related Product Indicator by physician

In [21]:
rpi_df = payments_df[['Related_Product_Indicator','Physician_ID','Total_Amount_of_Payment_USDollars']]
rpi_df = rpi_df.groupby(by=['Physician_ID','Related_Product_Indicator']).count()
rpi_df = rpi_df.reset_index()
rpi_df = rpi_df.groupby(by=["Physician_ID"])
rpi_df = rpi_df.apply(lambda _df: _df.nlargest(1,'Total_Amount_of_Payment_USDollars','first'))
rpi_df = rpi_df.reset_index(drop=True)
rpi_df = rpi_df.set_index('Physician_ID')
rpi_df = rpi_df.rename(columns={"Related_Product_Indicator": "top_rpi","Total_Amount_of_Payment_USDollars": "rpi_count"})
rpi_df.head()

              top_rpi  rpi_count
Physician_ID
1             Covered         26
2             Covered         88
3                 Yes         75
4                 Yes        231
5             Covered         41

## Generate Form_of_Payment_or_Transfer_of_Value (fop) dummy columns

In [22]:
print(payments_df.Form_of_Payment_or_Transfer_of_Value.unique())

['In-kind items and services' 'Cash or cash equivalent'
 'Dividend, profit or other return on investment'
 'Stock, stock option, or any other ownership interest'
 'Any other ownership interest' 'Stock' 'Stock option']

## payments grouped by fops and physician_id

In [23]:
fops_df = payments_df[['Physician_ID','Form_of_Payment_or_Transfer_of_Value','Total_Amount_of_Payment_USDollars']]
fops_df = fops_df.groupby(by=['Physician_ID','Form_of_Payment_or_Transfer_of_Value']).count()
fops_df = fops_df.rename(columns={"Total_Amount_of_Payment_USDollars": "fop_count"})
fops_df = fops_df.reset_index()
fops_df = fops_df.set_index('Physician_ID')
fops_df.head()

             Form_of_Payment_or_Transfer_of_Value  fop_count
Physician_ID
1                         Cash or cash equivalent          4
1                      In-kind items and services         43
2                         Cash or cash equivalent         72
2                      In-kind items and services         82
3                         Cash or cash equivalent         39

## Create dummy df

In [24]:
fops_dummy_df = rpi_df.copy(deep=True)
fops_dummy_df.drop(['top_rpi','rpi_count'],axis=1,inplace=True)
fops_dummy_df['dummy'] = 0
fops_dummy_df.head()

              dummy
Physician_ID
1                 0
2                 0
3                 0
4                 0
5                 0

### Cash or cash equivalent

In [25]:
cash_df = fops_df.loc[fops_df['Form_of_Payment_or_Transfer_of_Value'] == 'Cash or cash equivalent']
fops_dummy_df = pd.concat([fops_dummy_df, cash_df], axis=1, sort=False)
fops_dummy_df = fops_dummy_df.rename(columns={"fop_count": "cash"})
fops_dummy_df['cash'] = fops_dummy_df['cash'].fillna(0) 
fops_dummy_df.drop(['Form_of_Payment_or_Transfer_of_Value','dummy'],axis=1,inplace=True)

### In-kind items and services

In [26]:
services_df = fops_df.loc[fops_df['Form_of_Payment_or_Transfer_of_Value'] == 'In-kind items and services']
fops_dummy_df = pd.concat([fops_dummy_df, services_df], axis=1, sort=False)
fops_dummy_df = fops_dummy_df.rename(columns={"fop_count": "services"})
fops_dummy_df['services'] = fops_dummy_df['services'].fillna(0) 
fops_dummy_df.drop(['Form_of_Payment_or_Transfer_of_Value'],axis=1,inplace=True)

### Stock

In [27]:
stock_df = fops_df.loc[fops_df['Form_of_Payment_or_Transfer_of_Value'] == 'Stock']
fops_dummy_df = pd.concat([fops_dummy_df, stock_df], axis=1, sort=False)
fops_dummy_df = fops_dummy_df.rename(columns={"fop_count": "stock"})
fops_dummy_df['stock'] = fops_dummy_df['stock'].fillna(0) 
fops_dummy_df.drop(['Form_of_Payment_or_Transfer_of_Value'],axis=1,inplace=True)

In [28]:
#fops_dummy_df.iloc[1713]

### Stock option

In [29]:
stock_opt_df = fops_df.loc[fops_df['Form_of_Payment_or_Transfer_of_Value'] == 'Stock option']
fops_dummy_df = pd.concat([fops_dummy_df, stock_opt_df], axis=1, sort=False)
fops_dummy_df = fops_dummy_df.rename(columns={"fop_count": "stock_opt"})
fops_dummy_df['stock_opt'] = fops_dummy_df['stock_opt'].fillna(0) 
fops_dummy_df.drop(['Form_of_Payment_or_Transfer_of_Value'],axis=1,inplace=True)

In [30]:
#fops_dummy_df.iloc[1033]

## Any other ownership interest

In [31]:
any_ownership_df = fops_df.loc[fops_df['Form_of_Payment_or_Transfer_of_Value'] == 'Any other ownership interest']
fops_dummy_df = pd.concat([fops_dummy_df, any_ownership_df], axis=1, sort=False)
fops_dummy_df = fops_dummy_df.rename(columns={"fop_count": "any_ownership"})
fops_dummy_df['any_ownership'] = fops_dummy_df['any_ownership'].fillna(0) 
fops_dummy_df.drop(['Form_of_Payment_or_Transfer_of_Value'],axis=1,inplace=True)

In [32]:
#fops_dummy_df.iloc[1058]

### Dividend, profit or other return on investment

In [33]:
dividend_df = fops_df.loc[fops_df['Form_of_Payment_or_Transfer_of_Value'] == 'Dividend, profit or other return on investment']
fops_dummy_df = pd.concat([fops_dummy_df, dividend_df], axis=1, sort=False)
fops_dummy_df = fops_dummy_df.rename(columns={"fop_count": "dividend"})
fops_dummy_df['dividend'] = fops_dummy_df['dividend'].fillna(0) 
fops_dummy_df.drop(['Form_of_Payment_or_Transfer_of_Value'],axis=1,inplace=True)

In [34]:
#fops_dummy_df.iloc[1058]

### Stock, stock option, or any other ownership interest

In [35]:
stock_or_other_df = fops_df.loc[fops_df['Form_of_Payment_or_Transfer_of_Value'] == 'Stock, stock option, or any other ownership interest']
fops_dummy_df = pd.concat([fops_dummy_df, stock_or_other_df], axis=1, sort=False)
fops_dummy_df = fops_dummy_df.rename(columns={"fop_count": "stock_or_other"})
fops_dummy_df['stock_or_other'] = fops_dummy_df['stock_or_other'].fillna(0) 
fops_dummy_df.drop(['Form_of_Payment_or_Transfer_of_Value'],axis=1,inplace=True)

In [36]:
#fops_dummy_df.iloc[1430]

In [37]:
fops_dummy_df.head()

,cash,services,stock,stock_opt,any_ownership,dividend,stock_or_other
Physician_ID,,,,,,,
1,4.0,43.0,0.0,0.0,0.0,0.0,0.0
2,72.0,82.0,0.0,0.0,0.0,0.0,0.0
3,39.0,93.0,0.0,0.0,0.0,0.0,0.0
4,131.0,280.0,0.0,0.0,0.0,0.0,0.0
5,16.0,82.0,0.0,0.0,0.0,0.0,0.0

## Get top form of payment by physician

In [38]:
fops_df = fops_df.reset_index()
fops_df = fops_df.groupby('Physician_ID')
fops_df = fops_df.apply(lambda _df: _df.nlargest(1,'fop_count','first'))
fops_df = fops_df.reset_index(drop=True)
fops_df = fops_df.set_index('Physician_ID')
fops_df = fops_df.rename(columns={"Form_of_Payment_or_Transfer_of_Value": "top_fop"})
fops_df.head()

                                 top_fop  fop_count
Physician_ID
1             In-kind items and services         43
2             In-kind items and services         82
3             In-kind items and services         93
4             In-kind items and services        280
5             In-kind items and services         82

In [39]:
#fops_df.iloc[232]

In [40]:
features = pd.concat([total_payments_df,
                      number_payments_df,
                      top_nature_df,
                      range_number_of_payments_df,
                      range_of_payments_df,
                      top_companys,
                      companys_pay_count_df,
                      companys_pay_std_df,
                      rpi_df,
                      fops_dummy_df,
                      fops_df], axis=1, sort=False)

In [41]:
print(features.columns)

Index(['total_payments', 'number_of_payments', 'top_nature',
       'total_of_top_nature', 'range_count', 'range_total', 'top_company',
       'pay_count', 'std', 'top_rpi', 'rpi_count', 'cash', 'services', 'stock',
       'stock_opt', 'any_ownership', 'dividend', 'stock_or_other', 'top_fop',
       'fop_count'],
      dtype='object')

In [42]:
train_physicians_df = train_physicians_df[['State','Primary_Specialty']]
test_physicians_df = test_physicians_df[['State','Primary_Specialty']]

In [43]:
#train_physicians_df = pd.concat([train_physicians_df,ownership_interest_df], axis=1, sort=False)

#train_physicians_df = pd.concat([train_physicians_df,ownership_interest_df], axis=1, sort=False)

In [44]:
train_physicians_df= pd.concat([train_physicians_df,features],axis=1,join='inner')
test_physicians_df= pd.concat([test_physicians_df,features],axis=1,join='inner')

In [45]:
train_physicians_df

,State,Primary_Specialty,total_payments,number_of_payments,top_nature,total_of_top_nature,range_count,range_total,top_company,pay_count,...,rpi_count,cash,services,stock,stock_opt,any_ownership,dividend,stock_or_other,top_fop,fop_count
Physician_ID,,,,,,,,,,,,,,,,,,,,,
1,FL,Obstetrics & Gynecology,952.93,47,Food and Beverage,842.44,8,170.41,550,18,...,26,4.0,43.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,43
2,MD,Anesthesiology,120924.92,154,Compensation for services other than consultin...,45190.70,45,35030.52,601,13,...,88,72.0,82.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,82
3,NY,Podiatric Medicine & Surgery Service Providers,3523.93,132,Food and Beverage,3523.93,12,462.42,340,15,...,75,39.0,93.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,93
4,GA,Internal Medicine,26745.61,411,Compensation for services other than consultin...,18011.81,50,13247.09,18,32,...,231,131.0,280.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,280
5,NM,Orthopaedic Surgery,25411.21,98,Education,8792.00,18,9079.72,442,13,...,41,16.0,82.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,82
6,NY,Dental Providers,2680.80,33,Food and Beverage,1492.83,8,1039.88,42,13,...,16,6.0,27.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,27
7,KS,Obstetrics & Gynecology,5822.78,55,Education,2500.00,18,4355.49,278,7,...,28,3.0,52.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,52
8,NJ,Internal Medicine,2396.00,153,Food and Beverage,2396.00,27,349.58,75,16,...,120,0.0,153.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,153
9,MI,Pediatrics,921.98,28,Food and Beverage,862.08,8,237.20,2431,14,...,16,1.0,27.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,27
10,TX,Orthopaedic Surgery,167075.04,135,Consulting Fee,104436.66,15,68416.48,267,34,...,72,41.0,94.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,94
11,NC,Orthopaedic Surgery,12709.72,311,Food and Beverage,6748.57,55,4090.74,42,42,...,191,61.0,250.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,250
12,GA,NaN,572.23,23,Food and Beverage,568.29,4,264.43,1199,8,...,17,6.0,17.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,17
13,IN,Dental Providers,659.00,29,Food and Beverage,543.37,10,229.12,471,7,...,13,12.0,17.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,17
15,FL,Internal Medicine,14626.95,423,Food and Beverage,9905.07,56,2730.06,54,39,...,233,113.0,310.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,310
16,NY,Internal Medicine,16447.75,45,Consulting Fee,11250.00,11,5033.02,145,12,...,24,7.0,38.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,38
17,NY,Surgery,1379.94,35,Food and Beverage,1364.79,6,458.87,24,14,...,26,0.0,35.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,35
19,AL,Internal Medicine,63146.60,464,Travel and Lodging,18340.33,96,11364.55,521,25,...,294,143.0,321.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,321
20,IL,Eye and Vision Services Providers,3099.17,162,Food and Beverage,3099.17,16,351.77,190,20,...,102,8.0,154.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,154
21,CA,Psychiatry & Neurology,310294.56,1256,Compensation for services other than consultin...,149748.45,90,73295.86,1393,36,...,891,335.0,921.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,921
22,FL,Dental Providers,1615.42,23,Food and Beverage,1424.83,4,797.15,786,8,...,11,8.0,15.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,15
23,PA,Psychiatry & Neurology,7398.22,103,Food and Beverage,7232.01,8,853.19,169,10,...,60,1.0,102.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,102
24,MT,Eye and Vision Services Providers,1321.75,39,Food and Beverage,1246.45,12,319.25,296,7,...,16,5.0,34.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,34
25,KY,Plastic Surgery,6691.74,88,Food and Beverage,3413.74,15,1715.90,190,15,...,47,7.0,81.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,81
26,IL,Internal Medicine,6788.98,390,Food and Beverage,6494.38,128,2228.17,74,41,...,355,23.0,367.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,367
27,FL,Neurological Surgery,55553.00,234,Consulting Fee,41430.38,35,13013.34,700,24,...,147,104.0,130.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,130
28,NY,Internal Medicine,5619.51,351,Food and Beverage,5338.36,55,769.24,47,37,...,188,41.0,310.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,310
29,MI,Internal Medicine,4534.13,240,Food and Beverage,4248.97,62,729.24,147,32,...,200,38.0,202.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,202
30,MI,Orthopaedic Surgery,8732.77,67,Consulting Fee,5500.00,28,5534.36,42,12,...,35,22.0,45.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,45
31,NJ,Internal Medicine,253482.51,1294,Compensation for services other than consultin...,193836.40,46,41040.86,150,49,...,814,284.0,1010.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,1010
32,FL,Internal Medicine,14676.99,44,Compensation for services other than consultin...,10800.00,22,13045.11,492,6,...,37,26.0,18.0,0.0,0.0,0.0,0.0,0.0,Cash or cash equivalent,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5969,NH,Orthopaedic Surgery,24337.11,102,Food and Beverage,6940.31,11,5535.87,1856,29,...,59,22.0,79.0,0.0,0.0,0.0,1.0,0.0,In-kind items and services,79
5970,NY,Dental Providers,1419.54,25,Food and Beverage,541.31,8,900.17,535,12,...,12,12.0,13.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,13
5971,MI,Podiatric Medicine & Surgery Service Providers,13801.50,120,Travel and Lodging,9557.32,42,4058.50,1607,16,...,92,63.0,57.0,0.0,0.0,0.0,0.0,0.0,Cash or cash equivalent,63
5973,FL,Internal Medicine,1885656.35,2407,Compensation for services other than consultin...,1591770.66,78,128337.25,909,52,...,1349,964.0,1443.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,1443
5974,WV,Physical Medicine & Rehabilitation,363.39,19,Food and Beverage,347.79,6,99.16,596,11,...,11,6.0,13.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,13
5975,AZ,Internal Medicine,473591.20,808,Compensation for services other than consultin...,417415.00,113,58171.20,150,39,...,409,392.0,416.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,416
5976,MA,Internal Medicine,12063.37,85,Travel and Lodging,3503.03,24,4237.24,521,23,...,45,21.0,64.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,64
5977,GA,Physical Medicine & Rehabilitation,1457.50,88,Food and Beverage,1445.68,31,419.43,318,23,...,54,18.0,70.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,70
5978,WI,Eye and Vision Services Providers,2234.23,23,Food and Beverage,1496.29,5,938.11,296,5,...,15,2.0,21.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,21
5979,MS,NaN,5549.77,81,Travel and Lodging,3889.25,19,1730.62,42,21,...,39,7.0,74.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,74
5980,IL,Internal Medicine,208422.12,1169,Compensation for services other than consultin...,159054.75,32,46689.43,18,55,...,705,164.0,1005.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,1005
5981,MO,Psychiatry & Neurology,3788.50,212,Food and Beverage,3673.29,9,181.13,114,37,...,121,60.0,152.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,152
5982,PA,Internal Medicine,98293.40,209,Compensation for services other than consultin...,64850.00,62,33282.24,47,17,...,84,70.0,139.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,139
5983,KS,Podiatric Medicine & Surgery Service Providers,24949.37,195,Travel and Lodging,9543.48,67,6336.97,267,19,...,147,64.0,131.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,131
5984,NJ,Internal Medicine,122637.45,1124,Compensation for services other than consultin...,98476.75,118,49561.10,75,41,...,782,125.0,999.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,999
5985,AR,Internal Medicine,2891.00,212,Food and Beverage,2587.61,42,456.81,74,29,...,124,17.0,195.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,195
5986,NY,Internal Medicine,24425.73,812,Food and Beverage,13451.36,44,7655.93,309,33,...,528,16.0,796.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,796
5987,GA,Internal Medicine,11010.83,723,Food and Beverage,10860.49,37,913.81,145,58,...,430,68.0,655.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,655
5988,IN,Orthopaedic Surgery,3590.85,48,Food and Beverage,1985.58,9,1051.98,700,16,...,33,35.0,13.0,0.0,0.0,0.0,0.0,0.0,Cash or cash equivalent,35
5989,OH,Family Medicine,8034.25,790,Food and Beverage,7832.45,56,469.23,150,43,...,551,50.0,740.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,740
5990,NY,Orthopaedic Surgery,206409.08,435,Consulting Fee,163587.50,36,28866.06,42,21,...,283,186.0,249.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,249
5991,IN,Psychiatry & Neurology,7742.24,555,Food and Beverage,6206.61,99,2666.16,229,40,...,303,212.0,343.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,343
5992,CA,Family Medicine,868.57,53,Food and Beverage,868.57,8,137.54,122,21,...,30,7.0,46.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,46
5993,TX,Thoracic Surgery (Cardiothoracic Vascular Surg...,2640.95,77,Food and Beverage,2640.95,18,853.09,597,13,...,48,6.0,71.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,71
5994,GA,Internal Medicine,9965.96,689,Food and Beverage,9867.86,53,847.04,123,43,...,415,35.0,654.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,654
5995,TX,Family Medicine,5528.35,390,Food and Beverage,5451.13,21,464.40,74,40,...,251,9.0,381.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,381
5996,FL,Orthopaedic Surgery,19714.41,517,Food and Beverage,9265.08,95,5161.48,550,38,...,217,241.0,276.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,276
5997,FL,Urology,2946.90,162,Food and Beverage,2672.05,31,485.59,69,33,...,79,13.0,149.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,149
5998,AR,Family Medicine,7870.54,622,Food and Beverage,7833.50,38,353.85,74,29,...,345,12.0,610.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,610
6000,CA,Otolaryngology,5779.80,92,Food and Beverage,2900.54,22,2070.60,130,19,...,52,47.0,45.0,0.0,0.0,0.0,0.0,0.0,Cash or cash equivalent,47

In [46]:
test_physicians_df

,State,Primary_Specialty,total_payments,number_of_payments,top_nature,total_of_top_nature,range_count,range_total,top_company,pay_count,...,rpi_count,cash,services,stock,stock_opt,any_ownership,dividend,stock_or_other,top_fop,fop_count
Physician_ID,,,,,,,,,,,,,,,,,,,,,
14,FL,Pain Medicine,5775.53,539,Food and Beverage,5626.66,96,514.07,197,35,...,360,56.0,483.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,483
18,NY,Internal Medicine,92123.24,584,Consulting Fee,39516.38,68,42697.24,2285,46,...,417,100.0,484.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,484
42,NY,Obstetrics & Gynecology,3159.49,180,Food and Beverage,3066.04,16,256.09,190,27,...,108,8.0,172.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,172
46,MI,NaN,1614.34,64,Food and Beverage,1614.34,15,547.14,897,17,...,49,2.0,62.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,62
47,MD,Internal Medicine,6494.00,296,Food and Beverage,6444.00,96,1557.50,123,31,...,253,21.0,275.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,275
53,IN,Thoracic Surgery (Cardiothoracic Vascular Surg...,89072.96,469,Compensation for services other than consultin...,53500.00,46,22975.57,100,41,...,290,169.0,300.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,300
57,NY,Family Medicine,1045.44,66,Food and Beverage,1045.44,9,144.52,150,23,...,46,2.0,64.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,64
58,SC,Surgery,1468.60,19,Food and Beverage,795.43,4,857.25,700,13,...,12,1.0,18.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,18
62,TX,Internal Medicine,42219.11,107,Compensation for services other than consultin...,24550.00,36,21484.17,2112,14,...,96,35.0,72.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,72
76,MI,Urology,4120.79,107,Food and Beverage,3965.24,22,1071.94,69,28,...,60,9.0,98.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,98
80,CA,Family Medicine,4360.82,131,Food and Beverage,3316.38,15,991.34,859,21,...,73,14.0,117.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,117
81,CT,Obstetrics & Gynecology,2529.51,105,Food and Beverage,2443.68,20,251.61,123,30,...,87,2.0,103.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,103
82,OH,Internal Medicine,1772.20,161,Food and Beverage,1646.99,94,818.35,74,22,...,123,6.0,155.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,155
88,FL,NaN,2259.73,111,Food and Beverage,1456.53,47,1173.46,596,10,...,85,32.0,79.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,79
89,FL,Internal Medicine,7809.61,97,Food and Beverage,3135.32,29,4067.31,344,19,...,59,12.0,85.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,85
90,AZ,Internal Medicine,1362.81,85,Food and Beverage,1342.67,16,292.09,334,20,...,52,2.0,83.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,83
95,TX,Anesthesiology,8881.31,141,Travel and Lodging,5799.15,42,2791.81,521,28,...,88,48.0,93.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,93
104,TX,Internal Medicine,4172.29,141,Food and Beverage,2781.64,41,1312.85,1122,31,...,62,10.0,131.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,131
108,OH,Internal Medicine,13325.09,701,Food and Beverage,7861.05,151,1839.25,240,38,...,355,28.0,673.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,673
109,TX,Ophthalmology,1004.59,30,Food and Beverage,653.82,6,546.06,296,4,...,16,1.0,29.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,29
112,NJ,Internal Medicine,15300.04,888,Food and Beverage,14081.22,50,1583.29,123,41,...,574,29.0,859.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,859
117,NY,NaN,8344.08,379,Food and Beverage,8129.53,20,521.25,123,37,...,235,15.0,364.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,364
119,NY,Anesthesiology,753.25,31,Food and Beverage,753.25,9,201.61,1684,10,...,27,6.0,25.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,25
136,AZ,Orthopaedic Surgery,289.36,18,Food and Beverage,289.36,4,88.54,1,10,...,11,3.0,15.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,15
139,TN,Internal Medicine,5100.51,362,Food and Beverage,4965.16,49,567.27,74,33,...,247,16.0,346.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,346
155,GA,Internal Medicine,11810.20,572,Food and Beverage,11601.87,107,1931.50,75,45,...,420,30.0,542.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,542
162,AZ,Internal Medicine,87586.34,1378,Compensation for services other than consultin...,56920.00,127,47392.69,150,58,...,733,119.0,1259.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,1259
176,FL,Internal Medicine,70246.69,1783,Compensation for services other than consultin...,31640.00,139,16421.61,122,77,...,1138,330.0,1453.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,1453
180,CT,Obstetrics & Gynecology,2839.00,28,Food and Beverage,2839.00,7,802.90,47,8,...,14,1.0,27.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,27
182,VA,Internal Medicine,5502.54,363,Food and Beverage,5401.58,34,538.08,150,26,...,263,39.0,324.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,FL,Internal Medicine,8650.96,157,Travel and Lodging,4326.15,19,3041.99,521,22,...,84,38.0,119.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,119
5835,PA,Orthopaedic Surgery,61118.06,149,Compensation for services other than consultin...,40446.97,29,22523.47,267,20,...,86,24.0,125.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,125
5847,VA,Urology,10321.68,370,Food and Beverage,7323.33,30,2401.17,521,40,...,215,35.0,335.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,335
5849,MI,Urology,14345.30,174,Travel and Lodging,6767.20,25,5793.39,1688,29,...,91,31.0,143.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,143
5854,CA,Thoracic Surgery (Cardiothoracic Vascular Surg...,16532.58,68,Compensation for services other than consultin...,7200.00,9,701.20,597,5,...,38,4.0,64.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,64
5860,TX,Radiology,39180.54,431,Compensation for services other than consultin...,20950.00,86,14313.75,150,30,...,347,108.0,323.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,323
5861,AZ,Pain Medicine,12836.77,385,Food and Beverage,8842.34,83,2947.55,521,42,...,330,27.0,358.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,358
5865,AZ,NaN,1351.60,17,Food and Beverage,1313.95,5,483.48,1084,9,...,12,0.0,17.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,17
5875,MS,Family Medicine,9162.56,439,Food and Beverage,8817.21,32,374.92,75,40,...,254,21.0,418.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,418
5878,MD,Family Medicine,2299.17,153,Food and Beverage,2286.83,42,644.87,74,26,...,142,4.0,149.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,149
5881,FL,Dental Providers,704.74,17,Food and Beverage,529.74,3,196.84,42,4,...,8,1.0,16.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,16
5882,MI,Surgery,2131.27,50,Travel and Lodging,1101.98,18,1175.23,21,20,...,25,17.0,33.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,33
5891,CT,Eye and Vision Services Providers,6404.79,163,Food and Beverage,6011.63,17,342.15,289,14,...,116,31.0,132.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,132
5904,OH,Family Medicine,8764.25,760,Food and Beverage,8627.17,120,1063.26,75,41,...,416,15.0,745.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,745
5908,PA,Internal Medicine,291415.58,217,Consulting Fee,155767.50,32,54964.54,74,8,...,78,77.0,140.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,140
5913,TX,Obstetrics & Gynecology,908.03,59,Food and Beverage,857.61,11,180.21,220,20,...,45,5.0,54.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,54
5915,CA,Internal Medicine,4938.91,160,Food and Beverage,4360.21,23,1017.85,47,34,...,75,4.0,156.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,156
5932,MI,Family Medicine,1316.44,94,Food and Beverage,1247.44,17,145.48,150,25,...,60,5.0,89.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,89
5933,CA,Urology,139460.09,164,Consulting Fee,66554.79,23,37342.49,1040,27,...,64,59.0,105.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,105
5936,LA,Otolaryngology,2398.32,122,Food and Beverage,2398.32,19,110.82,130,22,...,71,34.0,88.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,88
5937,OH,Family Medicine,9951.75,780,Food and Beverage,9902.99,43,612.23,197,42,...,507,14.0,766.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,766
5939,GA,Physical Medicine & Rehabilitation,5131.96,311,Food and Beverage,5126.84,66,1396.01,229,27,...,248,76.0,235.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,235
5940,GA,NaN,4117.99,219,Food and Beverage,3835.73,16,537.38,154,25,...,121,79.0,140.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,140
5941,MN,Radiology,7924.75,51,Food and Beverage,4011.55,15,2615.00,1206,15,...,31,27.0,24.0,0.0,0.0,0.0,0.0,0.0,Cash or cash equivalent,27
5952,OH,Dental Providers,2155.38,17,Travel and Lodging,1307.82,4,986.67,414,8,...,9,7.0,10.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,10
5953,TN,Internal Medicine,175432.11,590,Compensation for services other than consultin...,124980.00,181,80041.72,75,31,...,329,129.0,461.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,461
5959,CA,Urology,2920.08,98,Food and Beverage,2109.56,25,1270.64,1925,21,...,80,7.0,91.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,91
5964,OK,Family Medicine,1036.32,93,Food and Beverage,929.36,32,308.36,18,16,...,84,5.0,88.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,88
5972,TX,Urology,14156.35,285,Food and Beverage,6119.79,76,5015.32,1522,38,...,248,54.0,231.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,231
5999,MA,Psychiatry & Neurology,1560.30,43,Food and Beverage,1127.16,9,266.11,897,8,...,22,4.0,39.0,0.0,0.0,0.0,0.0,0.0,In-kind items and services,39

In [48]:
train_physicians_df.to_csv('train_physicians_df_22_Fs.csv',sw)
test_physicians_df.to_csv('test_physicians_df_22_Fs.csv')